# 1. Bỏ qua thư viện của Node.js (Áp dụng cho cả Frontend React và Notification Service)
node_modules/
npm-debug.log
yarn-error.log
logs/

# 2. Bỏ qua các file build và thư viện của Spring Boot (Backend)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war

.env

.idea/
*.iml
.classpath
.project
.settings/